@font-face {
     font-family: line;
     src: url("../../plugin/font/WOFF/LINESeedSansTH_W_Rg.woff") format("woff");
}

body{
     margin: 0;
     padding: 0;
     padding-top: 70px;
     padding-bottom: 20px;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: line;
}

.midivborder{
     border: 1px solid #000;
     border-radius: 13px;
     padding: 10px 20px;
     transition: all .3s;
     position: relative; /* Make the parent relative only on small screens */
}

input::placeholder {
     color: #999; /* Replace with your desired color */
     opacity: 1; /* Optional: Set opacity for better visibility */
 }

 .w-40{
     width: 40%;
 }

 .w-sm-40{
     width: 40%;
 }
 
 .w-sm-60{
     width: 60%;
 }

 .w-sm-30{
     width: 30%;
 }

 .w-sm-70{
     width: 70%;
 }

 .w-sm-50{
     width: 50%;
 }

 @media screen and (max-width: 576px){
     .w-sm-40{
         width: 100%;
     }
     .w-sm-60{
         width: 100%;
     }
     .w-sm-30{
         width: 100%;
     }
     .w-sm-70{
         width: 100%;
     }
     .w-sm-50{
         width: 100%;
     }
 }


 @media (max-width: 768px) {
     .midivborder {
         position: unset; /* Make the parent relative only on small screens */
     }
}


nav{
     height: 70px;
     position: fixed !important;
     top: 0;
     left: 0;
     width: 100%;
}

.nav-img{
     width: 50px;
     height: 50px;
     border-radius: 50%;
}

a{
     color: black;
     text-decoration: none;
}

.h-r-90{
     transition: ease .3s;
}

.h-r-90:hover {
     transform: rotate(90deg);
 }

 .h-s-105{
     transition: ease .3s;
 }
 .h-s-105:hover {
     transform: scale(1.05);
 }

 input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* For Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }